a{
    color:rgb(23, 172, 199); 
    text-decoration: none;
    font-size: 20px;
}
h1{
    font-family: Helvetica, sans-serif;
}
#segundo{
    color: orange;
}
/*
#é para id
*/
#terceiro{
    color: hotpink;
}
/*
. é para class
todas as tags a com a class link terão essa configuração
*/
a.link{
    color: green;
}