label, input[type=submit], input[type=text], textarea{
    display:block;
}
textarea{
    width: 300px;
    height: 80px;
}
input[type=submit]{
background: rgb(27, 27, 27);
color: rgb(207, 192, 192);
cursor: pointer;
padding: 10px;
border: 0;
}
input[type=submit]:hover{
    background: navy;
}